<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miles.xiuda.dao.CityDao">

	<sql id="city_coloum">
		cs_bianhao bianhao,
		cs_chengshi chengshi,
		cs_shengfen
		shengfen,
		cs_quxian quxian
	</sql>

	<select id="getAllCity" resultType="com.miles.xiuda.pojo.City">
		select
		<include refid="city_coloum"></include>
		from xiuda_city
	</select>

	<select id="getCityById" parameterType="java.lang.String"
		resultType="com.miles.xiuda.pojo.City">
		select
		<include refid="city_coloum"></include>
		from xiuda_city
		where cs_bianhao = #{uno,jdbcType=VARCHAR}
	</select>
</mapper>